[submodule "stowdir/.tmux/plugins/tpm"]
	path = stowdir/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	branch = master
[submodule "stowdir/.tmux/tmux-bash-completion"]
	path = stowdir/.tmux/tmux-bash-completion
	url = git@github.com:imomaliev/tmux-bash-completion.git
	branch = master
[submodule "GEP"]
	path = GEP
	url = git@github.com:lebr0nli/GEP.git
	branch = main
